#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav-tab {
  font-size: 12px;
  font-family: "Orbitron";
  width: 6%;
  padding: 12px 0;
  margin: -1px 6px 6px;
  background: #b644fc;
  text-decoration: none;
  color: white;
  border-top: 2px solid #ee07e2;
  border-radius: 100% 100%;
  box-shadow: rgba(134, 44, 187, 0.2) 0 -25px 18px -14px inset, rgba(134, 44, 187, 0.2) 0 1px 2px, rgba(134, 44, 187, 0.2) 0 2px 4px, rgba(134, 44, 187, 0.2) 0 4px 8px, rgba(134, 44, 187, 0.2) 0 8px 16px, rgba(134, 44, 187, 0.2) 0 16px 32px;
}

.nav-tab:hover {
  color: #ee07e2;
  box-shadow: rgba(238, 7, 226, 0.35) 0 -25px 18px -14px inset, rgba(238, 7, 226, 0.35) 0 1px 2px, rgba(238, 7, 226, 0.35) 0 2px 4px, rgba(238, 7, 226, 0.35) 0 4px 8px, rgba(238, 7, 226, 0.35) 0 8px 16px, rgba(238, 7, 226, 0.35) 0 16px 32px;
}

.services-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 3rem;
  border:#015315 solid;
  border-width: 1px 0 1px 0;
  padding: 1.5rem;
}

button.services {
  background-color: rgb(76, 227, 76);
  border-radius: 1rem;
  padding: 5px;
  width: 100px;
  box-shadow: rgba(1, 185, 38, 0.35) 0 -25px 18px -14px inset, rgba(1, 177, 30, 0.35) 0 1px 2px, 
  rgba(3, 194, 79, 0.35) 0 2px 4px, rgba(1, 192, 17, 0.35) 0 4px 8px, rgba(1, 119, 42, 0.35) 0 8px 16px, 
  rgba(2, 199, 78, 0.35) 0 16px 32px;
  color: rgb(75, 75, 75);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  border: 1px solid rgb(76, 227, 76);
}

button.services:hover {
  box-shadow: rgba(1, 111, 23, 0.35) 0 -25px 18px -14px inset, rgba(1, 143, 25, 0.35) 0 1px 2px, 
  rgba(2, 139, 57, 0.35) 0 2px 4px, rgba(1, 107, 10, 0.35) 0 4px 8px, rgba(1, 119, 42, 0.35) 0 8px 16px, 
  rgba(1, 128, 50, 0.35) 0 16px 32px;
  color: rgb(4, 94, 22);
  border: 1px solid black;
  transform: scale(1.1);
}

img.pragmatic-plumber {
  margin-top: 3rem;
  width: 300px;

}
