#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav-tab {
  font-size: 12px;
  font-family: "Orbitron";
  width: 6%;
  padding: 12px 0;
  margin: -1px 6px 6px;
  background: #b644fc;
  text-decoration: none;
  color: white;
  border-top: 2px solid #ee07e2;
  border-radius: 100% 100%;
  box-shadow: rgba(134, 44, 187, 0.2) 0 -25px 18px -14px inset, rgba(134, 44, 187, 0.2) 0 1px 2px, rgba(134, 44, 187, 0.2) 0 2px 4px, rgba(134, 44, 187, 0.2) 0 4px 8px, rgba(134, 44, 187, 0.2) 0 8px 16px, rgba(134, 44, 187, 0.2) 0 16px 32px;
}

.nav-tab:hover {
  color: #ee07e2;
  box-shadow: rgba(238, 7, 226, 0.35) 0 -25px 18px -14px inset, rgba(238, 7, 226, 0.35) 0 1px 2px, rgba(238, 7, 226, 0.35) 0 2px 4px, rgba(238, 7, 226, 0.35) 0 4px 8px, rgba(238, 7, 226, 0.35) 0 8px 16px, rgba(238, 7, 226, 0.35) 0 16px 32px;
}

footer {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  bottom: 0;
  left: 0;
  width: 100%;
  color: black;
}

.address {
  display: flex;
  flex-direction: column;
  justify-content:left;
  align-items: flex-start;
  text-align: right;
  line-height: 25%;
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 2rem;
}

.email-address {
  display: flex;
  flex-direction: column;
  justify-content:right;
  align-items: flex-start;
  text-align: left;
  line-height: 25%;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 2rem;
}

.copyright-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}